<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookkeeping.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.bookkeeping.pojo.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="account" jdbcType="CHAR" property="account" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="netName" jdbcType="CHAR" property="netname" />
    <result column="telephone" jdbcType="CHAR" property="telephone" />
  </resultMap>
</mapper>