<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookkeeping.mapper.UserRecordMapper">

  <resultMap id="BaseResultMap" type="com.bookkeeping.pojo.UserRecord">
  
    <result column="id" jdbcType="CHAR" property="id" />
    <result column="year" jdbcType="CHAR" property="year" />
    <result column="month" jdbcType="CHAR" property="month" />
    <result column="day" jdbcType="CHAR" property="day" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="cost" jdbcType="CHAR" property="cost" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="img_path" jdbcType="CHAR" property="imgPath"/>
    
  </resultMap>
  
  <!-- 查询表是否存在 -->
  <select id="existTable" parameterType="String" resultType="Integer">  
	    select count(*)  
	    from information_schema.TABLES  
	    where table_name = #{tableName} 
  </select>
  
  <!-- 删除表 -->
   <update id="dropTable">  
    	DROP TABLE IF EXISTS ${tableName} 
  </update>  
  
  <!-- 创建表 -->
  <update id="createTable" parameterType="String">  
		CREATE TABLE ${tableName} (
		  `id` CHAR(20) NOT NULL COMMENT 'id',
		  `year` CHAR(4) NOT NULL COMMENT '年份',
		  `month` CHAR(2) NOT NULL COMMENT '月份',
		  `day` CHAR(2) NOT NULL COMMENT '日',
		  `date` DATETIME NOT NULL COMMENT '日期时间',
		  `cost` CHAR(10) NOT NULL COMMENT '花费',
		  `type` CHAR(5) NOT NULL COMMENT '种类',
		  `img_path` CHAR(30) NOT NULL COMMENT '种类图标'
		);
  </update> 
  
  <!-- 保存记录 -->
<!--   <insert id="insertRecord"  parameterType="com.bookkeeping.pojo.UserRecord">
  		insert into ${tableName} 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test = "id != null">
				id,
			</if>
			<if test = "date != null">
				date,
			</if>
			<if test = "cost != null">
				cost,
			</if>
			<if test = "type != null">
				type,
			</if>
		</trim>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test = "id != null">
				#{id, jdbcType="VARCHAR"},
			</if>
			<if test = "date != null">
				#{date, jdbcType="DATETIME"},
			</if>
			<if test = "cost != null">
				#{cost, jdbcType="VARCHAR"},
			</if>
			<if test = "type != null">
				#{type, jdbcType="VARCHAR"},
			</if>
  		</trim>
  </insert> -->
  
  <insert id="insertRecord"  parameterType="com.bookkeeping.pojo.UserRecord">
  		insert into ${tableName} 
  			(	id, year, month, day, date, cost, type, img_path) 
  		value 
  			(	#{userRecord.id},
  				#{userRecord.year},
  				#{userRecord.month},
  				#{userRecord.day},
  			 	#{userRecord.date},
  			 	#{userRecord.cost},
  			    #{userRecord.type},
  			    #{userRecord.imgPath}
  			 );
  </insert>
  
  <!-- 查找年花费 -->
  <select id="queryYearCost" resultType="String" statementType="STATEMENT">
  		select
  			cost
  		from
  		 	${tableName}
  		where 
  			${yearFieldName} = '${yearFieldValue}'
  </select>
  
  <!-- 查找月花费 -->
   <select id="queryMonthCost" resultType="String" statementType="STATEMENT">
  		select
  			cost
  		from
  		 	${tableName}
  		where 
  			${yearFieldName} = '${yearFieldValue}' 
  		and 
  			${monthFieldName} = '${monthFieldValue}' 
  </select>

  <!-- 查找日花费 -->
  <select id="queryTodayCost" resultType="String" statementType="STATEMENT">
  		select
  			cost
  		from
  		 	${tableName}
  		where 
  			${yearFieldName} = '${yearFieldValue}' 
  		and 
  			${monthFieldName} = '${monthFieldValue}' 
  		and 
  			${todayFieldName} = '${todayFieldValue}' 
  </select>
  
  <!-- 查找历史记录 -->
  <select id="queryRecords" resultType="com.bookkeeping.appdata.entity.RecordData" parameterType="String">
  		select
  			date, cost, type, img_path
  		from
  			${tableName}
  </select>
  
  <!-- 统计类型的数量 -->
  <select id="queryTypeSum" resultType="com.bookkeeping.appdata.entity.PieChartSeries" parameterType="java.util.ArrayList">
  		select
  			type as name, count(*) as data
  		from
  			${tableName}
  		where
  			type
  		IN
		 	<foreach collection="typeArray" item="item" open="(" separator="," close=")" >
		 		#{item}
		 	</foreach>
  		GROUP BY
  			type;
  </select>
  
</mapper>